<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <title>Loans Simplefied website</title>
		<link rel="stylesheet" href="static/css/styles.css">
	  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<script src="https://kit.fontawesome.com/1cd51e69a3.js" crossorigin="anonymous"></script>
</head>
<body>

     <section class="sub-header" style="background-image: url(static/images/background.jpg);">
	 
	 <nav>
	      <a href="{{url_for('index')}}"><img src="images/logo.png"></a>
		  <div class="nav-links" id="navLinks">
		     <i class="fa fa-times" onclick="hideMenu()"></i>
		       <ul>
				<li><a href="{{url_for('index')}}">HOME</a></li>
				<li><a href="{{url_for('about')}}">ABOUT</a></li>
				<li><a href="{{url_for('blog')}}">Blog</a></li>
				<li><a href="{{url_for('education')}}">EDUCATION LOAN</a></li>
				<li><a href="{{url_for('automobile')}}">AUTOMOBILE LOAN</a></li>
				<li><a href="{{url_for('home_loan')}}">HOME LOAN</a></li>
				<li><a href="{{url_for('contact')}}">CONTACT</a></li>
			   
			   </ul>
		  
		  </div>
	    <i class="fa fa-bars" onclick="showMenu()"></i> 
	 </nav>
	 <h1>Contact Us </h1>
	 
	 </section>



<!---- Contact  us          content--------->

 <section class="location">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30146.80285349421!2d72.8224104395508!3d19.179893900000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6f1c592ead7%3A0x2cd59a24b9349ce4!2sHDFC%20Bank!5e0!3m2!1sen!2sin!4v1650500726743!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>



<section class="contact-us">

<div class="row">
   <div class="contact-col">
     <div>
	     <i class="fa fa-home"></i>
		 <span>
		    <h5>XYZ Road, ABC Building</h5>
			<p>Bangalore, Karnataka, IN</p>
		 </span>
	 </div>
	 
	 
	 <div>
	     <i class="fa fa-phone"></i>
		 <span>
		    <h5>+1 0913762822</h5>
			<p>Monday to saturday, 10AM to 6PM</p>
		 </span>
	 </div>
   
   <div>
	     <i class="fa fa-envelope-o"></i>
		 <span>
		    <h5>Majorproject18192729@gmail.com</h5>
			<p>Email us your query</p>
		 </span>
	 </div>
   
   
   
   
   </div>
   
   
   <div class="contact-col">
     
	 
	 <form action="file-handler.php" method="post">
	       <input type="text"  name="name" placeholder="Enter Your name" required>
		   <input type="email" name="email" placeholder="Enter email address" required>
		   <input type="text"  name="subject" placeholder="Enter Your Query subject" required>
		   
		   <textarea rows="8" name="message" placeholder="Message" required></textarea>
		   <button type="submit" class="hero-btn red-btn"><a href="mailto:majorproject18192729@gmail.com">Send Message </a></button>
	 
	 </form>
	 
   
   </div>

</div>

</section>




















<!-------------footer---->


<section class="footer" >
    <h4>About us</h4>
	<p>Aids financial organization to custom-tailor their ecosystem from amortization to delinquency tracking in one impeccable loan servicing procedure.</p>
	
	<div class="icons">
	<i class="fa fa-facebook"></i>
	<i class="fa fa-telegram"></i>
	<i class="fa fa-twitter"></i>
	<i class="fa fa-instagram"></i>

	
	</div>
	
</section>








<!--------------------javascript for Toggle Menu----------  -->
<script>

    var navLinks = document.getElementById("navLinks");
	
	function showMenu(){
	   navLinks.style.right = "0";
	}
	function hideMenu(){
	   navLinks.style.right = "-200px";
	}
	
	
	
	
	
</script>
</body>
</html>